{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Max Pflaum software developer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Max Pflaum</title>
    <link rel="stylesheet" href="{% static 'website_app/css/style.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'website_app/images/favicon.ico' %}"> 
  </head>
<body>
  <div class="container">
    <header class="site-header">
      <div class="status-container">
        <h1 class="logotype">
          <a href="{% url 'website_app:index' %}">
            <span>M</span><span>a</span><span>x</span> <span>P</span><span>f</span><span>l</span><span>a</span><span>u</span><span>m</span>
          </a>
        </h1>
        <div class="open-to-work">
          <span class="status-circle"></span>
          <span class="status-text">Open to work</span>
        </div>
      </div>
      <nav class="main-menu" aria-label="Main navigation">
        <a href="{% url 'website_app:home' %}">Home</a>
        <a href="{% url 'website_app:blog' %}">Blog</a>
        <a href="{% url 'website_app:projects' %}">Projects</a>
        <a href="{% url 'tools:tools' %}">Tools</a>
        <a href="{% url 'website_app:contact' %}">Contact</a>
      </nav>
    </header>

    <main class="content">
      {% block content %}{% endblock content %}
    </main>

    <footer class="site-footer">
      <div class="social-links">
        <ul class="inline-list">
          <li class="inline-list-item">
            <a href="mailto:max@pflaumax.dev">Email</a>
          </li>
          <li class="inline-list-item">
            <a href="https://www.linkedin.com/in/pflaumax/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          </li>
          <li class="inline-list-item">
            <a href="https://github.com/pflaumax" target="_blank" rel="noopener noreferrer">GitHub</a>
          </li>
          
        </ul>
      </div>
      <div class="footer-divider"></div>
      <div class="copyright">All Bites Reserved © {% now "Y" %} Max Pflaum</div>
    </footer>
  </div>
</body>
</html>