{% extends "website_app/base.html" %}
{% block content %}

<section class="contact-section">
  <p class="section-title">I'm open to discussing new projects or opportunities to be part of your vision. Feel free to contact me for any reason.</p>
  
  <div class="contact-methods">
    <div class="contact-method">
      <h3>Email</h3>
      <p><a href="mailto:max@pflaumax.dev" class="contact-link">max@pflaumax.dev</a></p>
    </div>
    
    <div class="contact-method">
      <h3>Platforms</h3>
      <p>Connect on <a href="https://www.linkedin.com/in/pflaumax/" target="_blank" rel="noopener noreferrer" class="contact-link">LinkedIn</a> or visit <a href="https://github.com/pflaumax" target="_blank" rel="noopener noreferrer" class="contact-link">GitHub</a></p>
      
    </div>

    <div class="contact-method">
      <h3>Elsewhere</h3>
      <a href="https://fosstodon.org/@pflaumax" target="_blank" rel="noopener noreferrer" class="contact-link">Mastodon</a>|<a href="https://bsky.app/profile/pflaumax.dev" target="_blank" rel="noopener noreferrer" class="contact-link">Bluesky</a>
    </div>
  </div>
  
</section>
{% endblock content %}


